<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Gores</title>
        <meta name="viewport" content="width=device-width" />
        <link rel="manifest" href="manifest.json">
        <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    </head>
    <body>
        <a href="#restaurants" class="skip-link">Skip to content</a>
        <header class="wrapper">
            <div>
                <a href="/">
                    <h1 class="header__title">
                        GoRes
                    </h1>
                </a>
            </div>
            <div class="box__top-menu">
                <ul >
                    <li><a href="/">Home</a></li>
                    <li><a href="#/favorite">Favorite</a></li>
                    <li><a href="https://github.com/gilangwinduasmara" target="_blank">About Us</a></li>
                </ul>
            </div>
            <div class="box__hamburger">
                <a id="hamburger" href="#">☰</a>
            </div>
        </header>
        <nav id="drawer">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#/favorite">Favorite</a></li>
                <li><a href="https://github.com/gilangwinduasmara" target="_blank">About Us</a></li>
            </ul>            
        </nav>
        <main>
            
        </main>
        <div class="loading__wrapper">
            Loading
        </div>
        <footer>Copyright © 2021 - GoRes</footer>
    </body>
</html>
